* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;

}

#edit {
    display: flex;
    flex-direction: row;
}

#edit>a {
    color: black;
}

tbody {
    width: 100%;
}


h2 {
    margin-bottom: 2%;
}

tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 0.125rem solid grey;


}


table {
    width: 80vw;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 0.3125rem;
    border-spacing: 0;




}

#buttons {
    width: 80vw;
    padding: 0 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

#novo-produto {
    margin-right: 40%;
    margin-left: 0;
}







button {
    cursor: pointer;
    color: #f5f5f5;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    width: 9.375rem;
    padding: 0.4375rem;
    margin-left: 2%;
    background-color: rgb(58, 192, 58);
}

td {
    text-align: left;
    width: 100%;
    max-width: 12.5rem;
    word-wrap: break-word;
    white-space: pre-line;
    margin: auto;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;

}

a {
    text-decoration: none;
    color: #f5f5f5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header>p>a {
    color: yellowgreen;

}